@import "../../../scss/variables";
Button {
  color: #000813;
  border-radius: 15px;
  border: 2px solid #5b5b5b;
  text-decoration: none;
  font-weight: bold;
  background-color: #fff6bb;
  display: block;
  text-align: center;
  margin: 20px auto 0 auto;
  width: 60%;
  height: 40px;
  &:hover,
  &:focus,
  &:active {
    color: color(primary-dark);
    background-color: color(accentHover);
    outline: none;
  }
  &:disabled {
    color: color(primary-dark);
    background-color: color(accent);
    opacity: 0.5;
    outline: none;
    cursor: not-allowed;
  }
  p {
    margin: 0;
    font-size: 15px;
  }
}
