@import '../../../scss/variables';

$desktop: 840px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

.toggle-button {
  display: flex;
  width: 100%;
  height: 30px;
  margin: 15px 0;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
  @include desktop {
    display: none;
  }
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__line {
  width: 30px;
  height: 5px;
  margin-bottom: 5px;
  background-color: #000;
}
.toggle-button:hover > .toggle-button__line {
  background-color: #7f7f7f;
}
