@import "../../../scss/variables";

$desktop: 840px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

.paragraph {
  text-align: center;
  h1 {
    color: color(primary);
    font-size: 20px;
  }
}
